<div id="keysContainer" class="container">
	<h3>hset record name: {{.}}</h3>
	<input id="txtName" type="hidden" value="{{.}}"/>
	<div class="col-md-12">
		<form class="form-inline" role="form">
			<div class="form-group col-xs-2">
				<input type="text" class="form-control" id="txtStart" placeholder="start key">
			</div>
			<div class="form-group col-xs-2">
				<input type="text" class="form-control" id="txtEnd" placeholder="end key">
			</div>
			<div class="form-group col-xs-1">
				<input type="text" value="500" class="form-control" id="txtLimitCount" placeholder="limit count">
			</div>
			<a id="btnQuery" class="btn btn-primary">Query</a>
		</form>
		<table id="resultTable" class="table table-striped table-hover">
			<thead>
				<tr><th class="th-key">Key</th><th class="th-val">Value</th></tr>
			</thead>
			<tbody>
			</tbody>
		</table>
		
	</div>
</div>
<script>
window.onload=function(){
	hsetItem.init()
}
</script>